.quote {
    background-color: aqua;
    height: 250px;
    width: 300px;
    margin-left: 1100px;
    background-image: url("../public/running.png");
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    margin-top: 100px;
    box-shadow: 30px, 20px, 30px, rgba(0,0,0,5);
    border: 10px solid black;
    
 
}

h2{
    padding-top:70px;
    color: black;
}

